if TARGET_WARP7

config SYS_BOARD
	default "warp7"

config SYS_CONFIG_NAME
	default "warp7"

config WARP7_ROOT_PART
	int "Partition number to use for root filesystem"
	default 2
	help
	  The partition number to use for root filesystem this is the
	  partition that is typically specified with root=/dev/sdaX or
	  which gets converted into a root=PARTUUID=some_uuid.

config SYS_FDT_ADDR
	hex "FDT load address"
	default 0x83000000
	help
	  The address the FDT file should be loaded to.

config MXC_CONSOLE_NUM
	int "UART used for the console"
	default 1
	help
	  The UART used for the console, expressed as a 1-based integer.
	  This is also used to set the console variable passed to the kernel.
	  Currently, only UART1 and UART6 are supported. Specifying a value
	  other than 6 will result in using UART1.

endif
